.interna_produtos {
    background: url("../img/bg-produtos.jpg") no-repeat center;
    background-size: cover;
}

.produto_item {
    padding-top: 60px;
    position: relative;
}

.produto_item h2 {
    color: #fff;
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: bold;
    position: relative;
    text-align: center;
    top: -180px;
    margin-bottom: -60px;
}

.produto_item h2::after,
.produto_item h2::before {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 8px auto;
    background-color: #fff;
}

.produto_icone {
    width: 280px;
    height: 280px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.produto_info {
    background-color: #000;
}

.produto_info p {
    color: #fff;
    font-size: 18px;
    line-height: 25px;
    padding: 30px;
    height: 180px;
}

.produto_info ul li {
    width: 229px;
    height: 49px;
    padding-top: 15px;
    background-color: #fec63e;
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    float: left;
}

.produto_info ul li:nth-child(1),
.produto_info ul li:nth-child(2) {
    margin-bottom: 2px;
}

.produto_info ul li:nth-child(even) {
    margin-left: 2px;
}

/* Orçamento */
.orcamento {
    background-color: #000;
    width: 100%;
    margin-top: 60px;
    padding: 40px 0;
}

.orcamento h2 {
    color: #fec63e;
}

.orcamento h2::after {
    background-color: #fec63e;
}


.form {
    padding-right: 70px;
}

.form label {
    display: block;
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 3px;
}

.form input,
textarea {
    display: block;
    width: 100%;
    border: 4px solid #fec63e;
    background: none;
    padding: 10px;
    outline: none;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #fff;
    margin-bottom: 15px;
}

.form textarea {
    height: 120px;
}

.form button {
    margin-top: 15px;
    background: none;
    padding: 7px 40px;
    border: 4px solid #fec63e;
}

.orcamento_dados {
    color: #fff;
    padding-left: 70px;
}

.orcamento_dados h3 {
    color: #fec63e;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 25px;
    font-weight: bold;
}

.orcamento_dados span {
    display: block;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 30px;
}

#dados_email {
    margin-bottom: 35px;
}

.orcamento_dados p {
    margin: 8px 0;
}

.orcamento_dados ul li {
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px 15px;
}

.orcamento_dados ul li:nth-child(odd) {
    background-color: #292929;
}